/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* 
Red - #a11212
Light Gray  - #EDEBE8
Orange -  #F7941D
Black -  #231F20
Olive Green -  #617040 */


h1,
h2,
h3,
html,
body {
margin: auto;
background-color:#EDEBE8;
font-family: 'Roboto', sans-serif;
}


.main-container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.2;
}

.container {
    padding: 0 3rem 0 3rem;   
}


/**************************************************************** 
---------------------- SMALL SCREEN (MOBILE) --------------------
*****************************************************************/


/* ------------------------- MOBILE (HOME) --------------------- */


/* ----- Navigation/Header ------- */

.flyer1, .flyer2{
    text-align: center;
    font-size: 12px;
    font-weight:bold;
    color:#a11212    
}

nav {
    border: 1px solid;
    background-color: #617040;
    padding-bottom: 1rem;  
}

nav ul {  
    border: 1px solid;
    display: flex;  
    float: left;  
    gap: 3rem;
    padding-left:0;
    width: 50%; 
    margin-left: -1px;      
}

nav li {
    text-decoration: none;  
    font-size: 18px;
    color: whitesmoke; 
}

nav img {    
    border: 1px solid;
    float:left;
    width: 80px;
    height: 80px;
    margin-top: 15px; 
    margin-left: 10px; 
    /* margin-right: -20px;  */
}

nav input{   
    vertical-align: middle;
    /* margin-top: -5px ;
    margin-left: -5px;  */
    width: 40%;
    height: 30px;
    margin-bottom: 7px;
    /* width: calc(65% - 60px - 24px);
    height: calc(90px - 60px); */
}

.fa-search, .fa-user, .fa-cart-plus {
    font-size: 24px;
    color:#c78c06;
    padding: 4px;
    border: 1px solid;;
    
}


/* ----- Banner ------- */

.main-banner {
    height: 400px;
    width: 100%; 
    background-image: url("../images/main-banner-859x644-mobile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;   
    display: block; 
}

.banner-text {
    background-color: rgb(0,0,0,.4);
    padding: 20px;
    text-align: left;
    top:70%;  
}

.banner-text p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}   
 .button-learn {
    background-color: #c78c06;
    border: none; 
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:bold;
    border-radius: 4px;
}

.button-learn:hover {
    transform: scale(1.2);

}

/* ----- Header Title (Shop By Category/Hot Deals) ------- */

.header1, .header2{
    text-align: center;
    padding: 50px 0 40px 0;   
}

/* ----- Hot Deals ------- */

.deals {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.deal1, .deal2, .deal3, .deal4 {
    display: grid;
    padding-bottom: 50px;
    font-size: 13px;
    font-weight: bold;
}

.deal1-image, .deal2-image, .deal3-image, .deal4-image {
   width:100%; 
}

.deal1-image:hover, .deal2-image:hover, .deal3-image:hover, .deal4-image:hover {
    transform: scale(.9);
}

/* ----- Shop Now/Shop All Buttons ------- */

.button-shopall1, .button-shopall2 {
    border: 1px solid ;
    font-size: 13px;
    color:#a11212;
 
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    padding: 5px;
    border-radius: 4px;
    
}

.button-shop {
    text-decoration: none;
    border-radius: 3px;
    color: #a11212;
    border: 1px solid;
    padding: 4px;
}

.button-shop:hover, .button-shopall1:hover, .button-shopall2:hover {
    animation: glowing 2s infinite;
}

@keyframes glowing {
    0%, 100% {
      box-shadow: 0 0 10px red;
    }
    50% {  
      box-shadow: 0 0 80px darkred;
    }
  }


/* ----- Shop by Category ------- */

.category {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;   
}

.tools, .plumbing, .lighting, .paint {
    display: grid;
    padding-bottom: 50px;
    font-size: 13px;
    font-weight: bold;
}

.tools-image, .plumbing-image, .lighting-image, .paint-image {
    width: 100%;
}

.tools-image:hover, .plumbing-image:hover, .lighting-image:hover, .paint-image:hover {
    transform: scale(.9);
}

/* ----- Email Sign-up ------- */

.sign-up {
  background-color: #a11212;
  color: whitesmoke;
  margin-top: 40px;
  padding: 20px 0;

}

.sign-up-text, .sign-up-text input {
    text-align: center;
}

.sign-up-text input, .button-sign {
    border:none;
    
}

.sign-up-text input {
    width: 40%;
}

.button-sign {
    background-color: #c78c06;
}


/* ----- Connect  ------- */

.stay-connected {
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
}

.socials {
    padding-left:10px;
}

.socials .fa{
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border-radius:5px;
}

.fa-facebook {
    background-color: #3B5998;
    color:whitesmoke;
}

.fa-google-plus {
    background-color: #dd4b39;
    color:whitesmoke;
}

.fa-twitter {
    background-color: #55ACEE;
    color:whitesmoke;
}


.need-help {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.need-help a {
    border: 1px solid  #a11212;
    margin-bottom: 5px;
    text-decoration: none;
    color:#a11212;
    font-size: 15px;
    font-weight: bold;
}


/* ----- Footer ------- */

footer {
   display: flex;
   justify-content: center;
   padding: 5px 10px;
   font: 14px 'Karla', sans-serif;
}

footer p {
    padding-right: 5px;
}

/* ------------------------------ Mobile (About) ------------------------------ */

.about-banner {
    height: 400px;
    width: 100%; 
    background-image: url("../images/about-774x516-mobile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;   
    display: block; 
}

.about-banner-text {
    text-align: left;
    background-color: rgb(0,0,0,.4);
    padding: 20px;
    top:70%;   
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;  
}

.about {
    font-size: 15px;
    padding-top: 20px;
}
 
.about h3{
    font-size: 20px;
}

.story {
    padding-bottom: 40px;
}

.william, .larissa, .kelly, .emil {
    padding-bottom: 20px;   

}
.william-font, .larissa-font, .kelly-font, .emil-font {
    font-weight: bold;
    font-size: 18px;
}

.our-team h3 {
    padding: 20px 0;
}

.about h3, .about h2 {
    color:#a11212;

}

.our-team .button {
    text-decoration: none;
    color:#a11212;
    border: 1px solid;
    padding: 2px 4px;
}

.william-image, .larissa-image, .kelly-image, .emil-image {
    width:100%;
}


.william-image:hover, .larissa-image:hover, .kelly-image:hover, .emil-image:hover {
    transform: scale(.9);
}


.our-team {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1rem;
    padding-top: 20px;
}

/* ------------------------------ Mobile (Contact) ------------------------------ */

.contact, .csr-form  {
    padding:20px 0;
}

.csr-form  {
    border: 1px solid;
    padding-left: 5px;
}

.contact h1 {
    padding: 40px 0;
    font-size: 35px;
}

.hotline, .hoo {
    font-size: 16px;
    font-weight: bold;

}

.csr-form h3 {
    padding-bottom: 15px;
    color:#a11212;
}

label {
    display: inline-block;
    width:100px;
 }

input {
    padding: 5px 10px;
    width:50%;
}

.name, .email, .order, .message {
    margin-bottom: 10px;   
}

.message label {
    vertical-align: top; 
    margin-right: -2px;  
}

.message textarea {
    width: 55%;
    height:100px;
}

.csr-form button {
    padding: 5px 10px;
    font-size: 16px;
    color:#a11212;
}

.store-locator {
    padding: 30px 0;
}

.store-locator p {
    padding: 10px 0 10px 5px;
    font-size: 18px;
    font-weight: bold;
    color:#a11212;

}

.store-locator-container{
    border: 1px solid;
    font-size: 15px;
    background-color: whitesmoke;
}

.store-locator-container input{
    margin:10px 0 0 5px;
    width:70%;
}

.store-locator-container button{
    padding: 4px;
    color:#a11212;
}    

.store-1,.store-2,.store-3,.store-4, .store-5 {
    font-weight:bold;
    font-size: 16px;
}

.map p {
    font-size: 18px;
    font-weight: bold;
    color:#a11212;
    padding: 10px 0;
}

.map iframe{
    width:100%;
}




/**************************************************************** 
---------------------- LARGE SCREEN (DESKTOP) -------------------
*****************************************************************/



/* ------------------------------ Large Screen (Home) ------------------------------ */

@media screen and (min-width:720px) { 

.flyer1, .flyer2 {
    font-size: 14px;
}

/* nav {
    display: flex;
    padding-bottom: 0rem;   
}

 ul {   
    justify-content: center;
    align-items: center;
    gap: 5rem;     
}

li a {   
    font-size:20px;
}

   
nav input{   
    vertical-align: middle;
    margin-top: 35px; 
    margin-left: 20rem;  
    align-items: center;
    width: 100%;
    height: 30px;
}

.fa-search, .fa-user, .fa-cart-plus {
    font-size: 24px;
    color:#c78c06;
    padding: 4px;
    margin-bottom: 5rem;
    margin-top: 35px; 
    border: 1px solid;
   
    
} 
*/

nav {
   
    padding: 0 0 1rem 5rem;  
}

nav ul {  

    justify-content: left;
    gap: 5rem;
   padding-left: 10rem;      
}

nav li{
    text-decoration: none;  
    font-size: 20px;
    color: whitesmoke; 
}

nav img {    
    border: 1px solid;
    float:left;
    width: 97px;
    height: 100px;

    padding-left: 15px; 
    /* margin-right: -20px;  */
}

nav input{   
    vertical-align: middle;
    /* margin-top: -5px ;*/
    margin-left: 10rem;  
    width: 50%;
    height: 30px;
    margin-bottom: 7px;
    /* width: calc(65% - 60px - 24px);
    height: calc(90px - 60px); */
}

.fa-search, .fa-user, .fa-cart-plus {
    font-size: 24px;
    color:#c78c06;
    padding: 4px;
    border: 1px solid;;
    
}

/* ----- Banner ------- */

.main-banner {
    height: 600px;
    width: 100%; 
    background-image: url("../images/main-banner-1500_x_900.jpeg");
}

.banner-text {
    padding: 30px;   
}

.banner-text p {
    font-size: 60px;
    margin-bottom: 15px;

    
}   
 .button-learn { 
    padding: 12px 20px;
    font-size: 20px;
}

/* ----- Header Title (Shop By Category/Hot Deals) ------- */

.header1, .header2{
    font-size:40px;
    padding: 40px;   
}

/* ----- Hot Deals ------- */

.deals {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.deal1, .deal2, .deal3, .deal4 {
    font-size: 15px;
}


/* ----- Shop Now/Shop All Buttons ------- */

.button-shopall1, .button-shopall2 {
    font-size: 20px;
    padding: 5px;

}


/* ----- Shop by Category ------- */

.category {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.tools, .plumbing, .lighting, .paint {
    font-size: 15px;

}


/* ----- Email Sign-up ------- */

  
.sign-up-text {
    text-align: center;
    font-size: 20px;
}
  
.sign-up-text input{
    font-size: 16px;
    width: 30%;
}

.button-sign {
    padding: 3px;   
}


/* ----- Connect  ------- */

.stay-connected {
    padding: 10px 10px 5px 10px;
    font-size: 16px;
}

.socials {
    padding: 0 0 15px 10px;    
}

.socials .fa{ 
    font-size: 18px;
    width: 18px;
}

.need-help {
    flex-direction:row;
    gap:1rem;
} 

.need-help a {
    border: none;
}

.need-help a:hover {
    transform: scale(1.2);
}

.help-socials-container {
   display: flex;
   justify-content: space-between;   
}

.socials a:hover {
    opacity: .8;
}



/* ------------------------------ Large Screen (About) ------------------------------ */


.about-banner {
    height: 500px;
    width: 100%; 
    background-image: url("../images/about-desktop-1500_x_900.jpeg");
}

.about-banner-text {
    text-align: center;
    font-size: 60px;
}

.about {
    font-size: 16px;
    padding-top: 20px;
}
 
.about h3{
    font-size: 21px;
}

.william, .larissa, .kelly, .emil {
    padding-bottom: 20px;   

}
.william-font, .larissa-font, .kelly-font, .emil-font {
    font-weight: bold;
    font-size: 18px;
}

.our-team {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1rem;
    padding-top: 20px;
}




/* ------------------------------ Large Screen (Contact) ------------------------------ */

.contact h1 {
    padding: 45px 0;
    font-size: 40px;
}

.csr-form h3 {
    padding-bottom: 20px;
}

input {
    width:55%;
}


.message textarea {
    width: 57%;
    height:100px;
}

.csr-form button {
    padding: 5px 11px;
    font-size: 17px;
    color:#a11212;
}

.store-locator {
display: grid;
grid-template-columns: 50% 50%;
gap: 2rem;
}

.store-locator {
    padding: 30px 0 20px 0;
}

.store-locator h3 {
    padding-bottom: 20px;
    color:#a11212;

}

.store-locator-container{
    border: .5px solid;
    font-size: 16px;    
}

.store-locator-container input{
    margin:10px 0 0 10px;
    width:80%;
}
  
.map p {
    font-size: 18px;
    padding: 10px;
}

.map iframe{
    width:93%;
}


}






